/* Estilos generales */
body {
    font-family: 'Spectral', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del encabezado */
header {
    background-color: #ffffff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    font-family: 'Jacquard 24', serif;
    font-size: 5rem;
    margin: 0;
    font-weight: 400;
  font-style: normal;
    color: rgb(247, 139, 189);
    text-align: center;
}
main {
    flex: 1;
}
/* Estilos de la sección de productos */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.product {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    width: 200px;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product h2 {
    font-family: 'Spectral', serif;
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.product p {
    font-size: 1rem;
    color: #666666;
}

.product span {
    font-size: 1.2rem;
    color: #333333;
    display: block;
    margin: 0.5rem 0;
}

.product button {
    background-color: #ff92f0;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
}

.product button:hover {
    background-color: #0056b3;
}
.add-to-cart-button {
    display: inline-block;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

/* Estilos del pie de página */
footer {
    background-color: #000000;
    color: #ffffff;
    padding: 2rem;
    text-align: center;
    position: relative;
}

footer p {
    margin: 0;
}
/* Estilos del botón de Instagram */
.instagram-button {
    display: inline-block;
    position: absolute;
    right: 1rem;
    top: 55%;
    transform: translateY(-50%);
    margin-left: 20px; /* Ajusta este valor para agregar el margen a la izquierda */
}

.instagram-button img {
    width: 32px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 32px;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
}

.instagram-button img:hover {
    transform: scale(1.1);
}